01-lead-qualification-routing.json
{
  "name": "HiveQuote 01 — Lead Qualification → Routing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hivequote/lead-qualified",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "GHL Webhook: tag=qualified",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET status='routing', qualified_at=NOW(), updated_at=NOW() WHERE id=$1 RETURNING id, phone, first_name, zip_code, trade_id;",
        "options": { "queryReplacement": "={{ $json.body.supabase_lead_id }}" }
      },
      "name": "Mark lead routing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [420, 400],
      "credentials": { "postgres": { "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.id, c.business_name, c.phone, c.email, c.wallet_balance_cents, c.billing_model, c.leads_delivered_this_month, t.ppl_price_cents, t.slug AS trade_slug FROM contractors c JOIN contractor_service_areas csa ON csa.contractor_id = c.id JOIN trades t ON t.id = csa.trade_id WHERE t.slug = $1 AND csa.zip_code = $2 AND c.status = 'active' AND (c.billing_model != 'ppl' OR c.wallet_balance_cents >= t.ppl_price_cents) ORDER BY csa.is_exclusive_zone DESC, c.leads_delivered_this_month ASC LIMIT 5;",
        "options": {
          "queryReplacement": "={{ $('GHL Webhook: tag=qualified').item.json.body.trade_slug }},{{ $('GHL Webhook: tag=qualified').item.json.body.zip_code }}"
        }
      },
      "name": "Find contractor matches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [640, 400],
      "credentials": { "postgres": { "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            { "value1": "={{ $items().length }}", "operation": "equal", "value2": 0 }
          ]
        }
      },
      "name": "No match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [860, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET status='routing_failed', updated_at=NOW() WHERE id=$1;",
        "options": { "queryReplacement": "={{ $('GHL Webhook: tag=qualified').item.json.body.supabase_lead_id }}" }
      },
      "name": "Mark routing_failed + hold queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1080, 220],
      "credentials": { "postgres": { "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "fromEmail": "alerts@hivequote.com",
        "toEmail": "={{ $env.FOUNDER_EMAIL }}",
        "subject": "=⚠ No contractor match: {{ $('GHL Webhook: tag=qualified').item.json.body.trade_slug }} in {{ $('GHL Webhook: tag=qualified').item.json.body.zip_code }}",
        "text": "=Lead ID {{ $('GHL Webhook: tag=qualified').item.json.body.supabase_lead_id }} entered the 24-hour hold queue. Homeowner has been told we're finding the right contractor. Recruit coverage for this territory."
      },
      "name": "Alert founder (coverage gap)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1300, 220],
      "credentials": { "smtp": { "name": "SMTP" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO lead_assignments (lead_id, contractor_id, notification_channel, ppl_amount_cents) VALUES ($1, $2, 'both', $3) RETURNING id;",
        "options": {
          "queryReplacement": "={{ $('GHL Webhook: tag=qualified').item.json.body.supabase_lead_id }},{{ $('Find contractor matches').first().json.id }},{{ $('Find contractor matches').first().json.ppl_price_cents }}"
        }
      },
      "name": "Create lead_assignment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1080, 560],
      "credentials": { "postgres": { "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $('Find contractor matches').first().json.billing_model }}", "operation": "equals", "value2": "ppl" }
          ]
        }
      },
      "name": "PPL model?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1300, 560]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH debit AS (UPDATE contractors SET wallet_balance_cents = wallet_balance_cents - $2, leads_delivered_this_month = leads_delivered_this_month + 1, total_leads_delivered = total_leads_delivered + 1, updated_at = NOW() WHERE id = $1 AND wallet_balance_cents >= $2 RETURNING id) INSERT INTO payments (contractor_id, lead_assignment_id, amount_cents, payment_type, payment_method, status, paid_at) SELECT $1, $3, $2, 'ppl_charge', 'ach', 'succeeded', NOW() FROM debit RETURNING id;",
        "options": {
          "queryReplacement": "={{ $('Find contractor matches').first().json.id }},{{ $('Find contractor matches').first().json.ppl_price_cents }},{{ $('Create lead_assignment').first().json.id }}"
        }
      },
      "name": "Debit wallet + log payment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1520, 480],
      "credentials": { "postgres": { "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (SELECT value FROM config WHERE key='sms_active') AS sms_active, EXISTS(SELECT 1 FROM sms_suppression WHERE phone = $1) AS suppressed;",
        "options": { "queryReplacement": "={{ $('Find contractor matches').first().json.phone }}" }
      },
      "name": "SMS gate check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1520, 680],
      "credentials": { "postgres": { "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $json.sms_active === 'true' && !$json.suppressed }}", "value2": true }
          ]
        }
      },
      "name": "SMS allowed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1740, 680]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"type\": \"SMS\", \"contactId\": \"{{ $('GHL Webhook: tag=qualified').item.json.body.contractor_ghl_contact_id }}\", \"message\": \"New lead from HiveQuote! Name: {{ $('Mark lead routing').first().json.first_name }}, Project: {{ $('GHL Webhook: tag=qualified').item.json.body.project_type }}, Location: {{ $('Mark lead routing').first().json.zip_code }}, Phone: {{ $('Mark lead routing').first().json.phone }}. They want to start within 30 days. Reply ACCEPT to confirm receipt.\" }"
      },
      "name": "Notify contractor (GHL SMS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 600],
      "credentials": { "httpHeaderAuth": { "name": "GHL API" } }
    },
    {
      "parameters": {
        "fromEmail": "leads@hivequote.com",
        "toEmail": "={{ $('Find contractor matches').first().json.email }}",
        "subject": "=🐝 New exclusive HiveQuote lead — {{ $('GHL Webhook: tag=qualified').item.json.body.trade_slug }}",
        "text": "=Name: {{ $('Mark lead routing').first().json.first_name }}\nPhone: {{ $('Mark lead routing').first().json.phone }}\nZIP: {{ $('Mark lead routing').first().json.zip_code }}\nProject: {{ $('GHL Webhook: tag=qualified').item.json.body.project_type }}\n\nThis lead is exclusively yours. Contact within 2 hours for best results. Reply ACCEPT by SMS or log in: https://hivequote.com/contractor/dashboard"
      },
      "name": "Notify contractor (email)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1960, 780],
      "credentials": { "smtp": { "name": "SMTP" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET status='assigned', updated_at=NOW() WHERE id=$1; INSERT INTO lead_delivery_events (lead_assignment_id, event_type, event_data, triggered_by) VALUES ($2, 'lead_assigned', '{}'::jsonb, 'n8n');",
        "options": {
          "queryReplacement": "={{ $('GHL Webhook: tag=qualified').item.json.body.supabase_lead_id }},{{ $('Create lead_assignment').first().json.id }}"
        }
      },
      "name": "Mark assigned + audit event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2180, 680],
      "credentials": { "postgres": { "name": "Supabase Postgres" } }
    }
  ],
  "connections": {
    "GHL Webhook: tag=qualified": { "main": [[{ "node": "Mark lead routing", "type": "main", "index": 0 }]] },
    "Mark lead routing": { "main": [[{ "node": "Find contractor matches", "type": "main", "index": 0 }]] },
    "Find contractor matches": { "main": [[{ "node": "No match?", "type": "main", "index": 0 }]] },
    "No match?": {
      "main": [
        [{ "node": "Mark routing_failed + hold queue", "type": "main", "index": 0 }],
        [{ "node": "Create lead_assignment", "type": "main", "index": 0 }]
      ]
    },
    "Mark routing_failed + hold queue": { "main": [[{ "node": "Alert founder (coverage gap)", "type": "main", "index": 0 }]] },
    "Create lead_assignment": { "main": [[{ "node": "PPL model?", "type": "main", "index": 0 }]] },
    "PPL model?": {
      "main": [
        [{ "node": "Debit wallet + log payment", "type": "main", "index": 0 }],
        [{ "node": "SMS gate check", "type": "main", "index": 0 }]
      ]
    },
    "Debit wallet + log payment": { "main": [[{ "node": "SMS gate check", "type": "main", "index": 0 }]] },
    "SMS gate check": { "main": [[{ "node": "SMS allowed?", "type": "main", "index": 0 }]] },
    "SMS allowed?": {
      "main": [
        [
          { "node": "Notify contractor (GHL SMS)", "type": "main", "index": 0 },
          { "node": "Notify contractor (email)", "type": "main", "index": 0 }
        ],
        [{ "node": "Notify contractor (email)", "type": "main", "index": 0 }]
      ]
    },
    "Notify contractor (email)": { "main": [[{ "node": "Mark assigned + audit event", "type": "main", "index": 0 }]] }
  },
  "settings": { "errorWorkflow": "HiveQuote 00 — Global Error Handler" }
}
