12-non-response-monitoring.json
{
  "name": "HiveQuote 12 — Non-Response Monitoring (8 AM MT)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 14 * * *" }] }
      },
      "name": "Cron 14:00 UTC (8 AM MDT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE contractors c SET consecutive_non_response_count = consecutive_non_response_count + 1, updated_at = NOW() FROM lead_assignments la WHERE la.contractor_id = c.id AND la.notification_sent_at IS NOT NULL AND la.contractor_accepted_at IS NULL AND la.outcome IS NULL AND la.assigned_at < NOW() - INTERVAL '60 minutes' AND la.assigned_at > NOW() - INTERVAL '24 hours' RETURNING c.id, c.business_name, c.consecutive_non_response_count;"
      },
      "name": "Increment non-response counts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": { "postgres": { "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            { "value1": "={{ $json.consecutive_non_response_count }}", "operation": "largerEqual", "value2": 3 }
          ]
        }
      },
      "name": "3+ strikes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE contractors SET status='paused', updated_at=NOW() WHERE id=$1; INSERT INTO contractor_events (contractor_id, event_type, event_data, triggered_by) VALUES ($1, 'non_response_flag', jsonb_build_object('count', $2::int), 'n8n');",
        "options": {
          "queryReplacement": "={{ $json.id }},{{ $json.consecutive_non_response_count }}"
        }
      },
      "name": "Pause contractor + log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [940, 220],
      "credentials": { "postgres": { "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "fromEmail": "alerts@hivequote.com",
        "toEmail": "={{ $env.FOUNDER_EMAIL }}",
        "subject": "=⚠ Contractor paused for non-response: {{ $json.business_name }}",
        "text": "={{ $json.business_name }} hit 3 consecutive non-accepts and has been paused. Routing is suspended for them. In-flight leads should be re-routed to backup contractors. Review at https://hivequote.com/admin/contractors"
      },
      "name": "Notify founder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1180, 220],
      "credentials": { "smtp": { "name": "SMTP" } }
    }
  ],
  "connections": {
    "Cron 14:00 UTC (8 AM MDT)": { "main": [[{ "node": "Increment non-response counts", "type": "main", "index": 0 }]] },
    "Increment non-response counts": { "main": [[{ "node": "3+ strikes?", "type": "main", "index": 0 }]] },
    "3+ strikes?": { "main": [[{ "node": "Pause contractor + log", "type": "main", "index": 0 }], []] },
    "Pause contractor + log": { "main": [[{ "node": "Notify founder", "type": "main", "index": 0 }]] }
  },
  "settings": { "errorWorkflow": "HiveQuote 00 — Global Error Handler" }
}
