automation/n8n/06-daily-audit-report.json
{
  "name": "HiveQuote 06 — Daily Audit Report (7 AM MT)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 13 * * *" }] }
      },
      "name": "Cron 13:00 UTC (7 AM MDT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (SELECT COUNT(*) FROM leads WHERE created_at > NOW() - INTERVAL '24 hours') AS leads_received, (SELECT COUNT(*) FROM lead_assignments WHERE created_at > NOW() - INTERVAL '24 hours') AS leads_routed, (SELECT COUNT(*) FROM leads WHERE created_at > NOW() - INTERVAL '24 hours' AND status IN ('new','qualifying','routing','routing_failed')) AS leads_unrouted, (SELECT COUNT(*) FROM lead_assignments WHERE created_at > NOW() - INTERVAL '24 hours' AND contractor_accepted_at IS NOT NULL) AS accepted, (SELECT COUNT(*) FROM error_log WHERE occurred_at > NOW() - INTERVAL '24 hours' AND resolved = FALSE) AS unresolved_errors, (SELECT COUNT(*) FROM error_log WHERE occurred_at > NOW() - INTERVAL '24 hours' AND scenario_name = 'twilio_delivery_failure') AS delivery_failures;"
      },
      "name": "Query 24h metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": { "postgres": { "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "fromEmail": "reports@hivequote.com",
        "toEmail": "={{ $env.FOUNDER_EMAIL }}",
        "subject": "=🐝 HiveQuote Daily Audit — {{ $now.format('MMM d') }} — {{ $json.leads_received }} leads / {{ $json.unresolved_errors }} errors",
        "text": "=LAST 24 HOURS\n\nLeads received: {{ $json.leads_received }}\nLeads routed: {{ $json.leads_routed }}\nLeads unrouted: {{ $json.leads_unrouted }}\nContractor acceptances: {{ $json.accepted }}\nSMS delivery failures: {{ $json.delivery_failures }}\nUnresolved automation errors: {{ $json.unresolved_errors }}\n\nDashboard: https://hivequote.com/admin\n\nThis is your 2-minute daily check. Not optional."
      },
      "name": "Email founder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [700, 300],
      "credentials": { "smtp": { "name": "SMTP" } }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.unresolved_errors > 3 || ($json.leads_received > 0 && $json.leads_unrouted / $json.leads_received > 0.2) }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Critical flags?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "To", "value": "={{ $env.FOUNDER_PHONE }}" },
            { "name": "From", "value": "={{ $env.PLATFORM_SMS_NUMBER }}" },
            { "name": "Body", "value": "=🚨 HiveQuote CRITICAL: {{ $('Query 24h metrics').first().json.leads_unrouted }} unrouted leads / {{ $('Query 24h metrics').first().json.unresolved_errors }} unresolved errors in 24h. Check /admin/monitoring now." }
          ]
        }
      },
      "name": "SMS founder (critical)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 220]
    }
  ],
  "connections": {
    "Cron 13:00 UTC (7 AM MDT)": { "main": [[{ "node": "Query 24h metrics", "type": "main", "index": 0 }]] },
    "Query 24h metrics": { "main": [[{ "node": "Email founder", "type": "main", "index": 0 }]] },
    "Email founder": { "main": [[{ "node": "Critical flags?", "type": "main", "index": 0 }]] },
    "Critical flags?": { "main": [[{ "node": "SMS founder (critical)", "type": "main", "index": 0 }], []] }
  },
  "settings": { "errorWorkflow": "HiveQuote 00 — Global Error Handler" }
}
